<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
     </style>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

<!DOCTYPE html>

<div class="container">
    <br>
    <h1>Wellcome to semanticFilms explorer!</h1>
    <br>
    <h5>There are many great films search engines available on the Web, however, we didn't find one that really suited our needs so we created  one by ourself for this student project.</h5>
    <h5>Try using <a href='/index'>semanticFilms explorer</a>, for documentation references visit <a href='https://github.com/semanticWeebs/SemanticWeb2022'>gitHub repo</a>.</h5>
</div>
</body>
</html>